function GSH_UPDATE_PROMPT() {
  export GSH_PROMPT="$(starship prompt)"
}

export STARSHIP_SHELL="gsh"
export STARSHIP_SESSION_KEY=$(starship session)

export GSH_PROMPT="$(starship prompt)"
export GSH_LOG_LEVEL="debug"
export GSH_CLEAN_LOG_FILE=1
